<h2 style="text-align:center;">Reenviar instrucciones de confirmaci&oacute;n</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control input-lg", placeholder: "Email" %>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 btn-group-vertical">
        <%= f.submit "Reenviar", class: "btn btn-danger btn-lg btn-block" %>
        <%= render "devise/shared/links" %>

<% end %>


